doctype 5
//if lt IE9
  <html class="no-js lte-ie8">
//[if gte IE9]><!
html.no-js(lang='#{language}')
  //<![endif]
  head
    title Go Team SAss

    link(rel="stylesheet", href="/styles/style.css", type="text/css")
  body
